<template>
  <Page>
    <ActionBar title="Add New Item" />
    <ScrollView orientation="vertical">
      <StackLayout >
        <Image src="https://upload.wikimedia.org/wikipedia/commons/b/bf/Cornish_cream_tea_2.jpg" />
        <StackLayout orientation="horizontal" >
          <Label text="Name" height="70" width="100" backgroundColor="#43b883"/>
          <TextField width="100%" :text="textFieldValue" hint="Enter text..." />
        </StackLayout>
        <StackLayout orientation="horizontal" >
          <Label text="Description" height="70" width="100" backgroundColor="#289062"/>
          <TextField width="100%" :text="textFieldValue" hint="Enter text..." />
        </StackLayout>
        <Button width="120" height="60" borderRadius="15" borderColor="#50BBFF" borderWidth="2" text="SUBMIT" @tap="onTap"/>
      </StackLayout>
    </ScrollView>
  </Page>
</template>

<script>
export default {
  data: function(){
    return {}
  },
  methods: {
    onTap(){
      alert("Good Luck");
      this.$navigateBack();
    }
  },
}
</script>
