<template>
  <Page>
    <ActionBar title="Main Page" >
      <ActionItem text="ADD" ios.position="right"  @tap="$navigateTo(page)"/>
    </ActionBar>
    <ListView height="600" for="item in listData" @itemTap="onTap">
      <v-template>
      <FlexboxLayout alignItems="flex-start">
        <Image borderWidth="10" borderColor="#ffffff" height="100" width="100" :src="item.imageUrl"  stretch="aspectFit"/>
        <FlexboxLayout flexDirection="column">
          <Label borderTopWidth="10" borderColor="#ffffff"  :text="item.name"  />
          <Label width="275" textWrap="true" :text="item.foodDescription"  />
        </FlexboxLayout>
      </FlexboxLayout>
      </v-template>
    </ListView>

  </Page>
</template>

<script>
import AddPage from './AddPage';
export default {
  components:{
    AddPage,
  },
  data: function(){
    return {
      greet: "Lol",
      page:AddPage,
      listData: [
        {
                "key": "598a678278fee204ee51cd2c",
                "name": "Cream Tea",
                "imageUrl": "https://upload.wikimedia.org/wikipedia/commons/b/bf/Cornish_cream_tea_2.jpg",
                "foodDescription": "This is a cup of cream tea"
            },
            {
                "key": "598a684f78fee204ee51cd2f",
                "name": "Fresh mushroom",
                "imageUrl": "https://upload.wikimedia.org/wikipedia/commons/6/6e/Lactarius_indigo_48568.jpg",
                "foodDescription": "Fresh mushroom with vegetables. This is a long line, this is a long line, this is a long line,this is a long line,this is a long line"
            },
            {
                "key": "598a687678fee204ee51cd30",
                "name": "Japanese Oyster",
                "imageUrl": "https://upload.wikimedia.org/wikipedia/commons/d/d2/Oysters_served_on_ice%2C_with_lemon_and_parsley.jpg",
                "foodDescription": "Oysters with ice rock"
            },
            {
                "key": "598a680178fee204ee51cd2e",
                "name": "Korean Kimchi",
                "imageUrl": "https://upload.wikimedia.org/wikipedia/commons/7/74/Yeolmukimchi_3.jpg",
                "foodDescription": "Traditional Korean Food"
            },
            {
                "key": "598a688878fee204ee51cd31",
                "name": "Multiple salad",
                "imageUrl": "https://upload.wikimedia.org/wikipedia/commons/9/94/Salad_platter.jpg",
                "foodDescription": "Salad mixed with mushroom"
            },
            {
                "key": "598a68b778fee204ee51cd32",
                "name": "Vegetable",
                "imageUrl": "https://upload.wikimedia.org/wikipedia/commons/6/6c/Vegetable_Cart_in_Guntur.jpg",
                "foodDescription": "Fresh vegetables"
            },
            {
                "key": "598a67c478fee204ee51cd2d",
                "name": "traditional japanese salad",
                "imageUrl": "https://upload.wikimedia.org/wikipedia/commons/a/ac/Simple_somen.jpg",
                "foodDescription": "Very delicious Japanese Salad"
            }

      ]
    }
  },
  methods: {
    onTap(){
      alert("Good Luck");
      console.log(this);
    }
  },
}
</script>
